.shipping-section {
    padding: 60px 0;
    background-color: white;
  }
  
  .free-shipping {
    width: 100%;
    padding: 16px;
    border: 1px solid #ff5252;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
  }
  
  .shipping-col1 {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .shipping-icon {
    font-size: 50px;
    color: #ff5252;
  }
  
  .shipping-title {
    font-size: 20px;
    font-weight: 600;
  }
  
  .shipping-col2 .shipping-text {
    margin: 0;
    font-weight: 500;
  }
  
  .shipping-price {
    font-weight: bold;
    font-size: 25px;
    margin: 0;
  }
  .featured-section {
    background-color: white;
    padding: 32px 0; /* replaces py-8 */
  }
  
  .featured-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .featured-title {
    font-size: 20px; /* replaces text-[20px] */
    font-weight: 600; /* replaces font-[600] */
    margin: 0;
  }
  
  .featured-subtitle {
    font-size: 14px; /* replaces text-[14px] */
    font-weight: 500; /* replaces font-[500] */
    margin: 0;
  }
  
  .left-sec {
    display: flex;
    flex-direction: column;
  }
  